
@{
    ViewBag.Title = "Доставка";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}
<td>
    <div class="dostavka">
        <p class="upper">Минимальный заказ для жителей Украины:</p>

        <p>Для розничных покупателей - 90 грн.</p>

        <p>Для оптовых покупетелей - 1000 грн. (по оптовым ценам)</p>

        <p class="upper">Стоимость доставки для Розничных покупателей:</p>

        <p>Доставка на <a href="http://novaposhta.ua/office" target="_blank">Склад «Новой почты»</a> при условии предоплаты - 25 грн. (любой вес);</p>

        <p>Доставка на <a href="http://novaposhta.ua/office" target="_blank">Склад «Новой почты»</a> наложенным платежом (оплата при получении) - 25 грн. +3% от суммы заказа;</p>

        <p>Доставка Курьером <a href="http://novaposhta.ua/" target="_blank">«Новой почты»</a> при условии предоплаты - 45 грн. (любой вес);</p>

        <p>Доставка Курьером <a href="http://novaposhta.ua/" target="_blank">«Новой почты»</a> наложенным платежом (оплата при получении) - 45 грн. +3%от суммы заказа;</p>

        <p>Доставка <a href="http://ukrposhta.ua/" target="_blank">«УкрПочтой»</a> при условии предоплаты - 10грн.;</p>

        <p>Доставка <a href="http://ukrposhta.ua/" target="_blank">«УкрПочтой»</a> наложенным платежом (оплата при получении) - 10грн. +3.5%от суммы заказа;</p>

        <p>Страховка груза Новой Почтой - 0.5%</p>

        <p>Страховка груза УкрПочтой - 1%.</p>

        <p class="upper">Стоимость доставки для Оптовых покупателей:</p>

        <p>Доставка на <a href="http://novaposhta.ua/office" target="_blank">Склад «Новой почты»</a> при условии предоплаты - 20 грн. + 3грн за кг;</p>

        <p>Доставка на <a href="http://novaposhta.ua/office" target="_blank">Склад «Новой почты»</a> наложенным платежом (оплата при получении) - 20грн. + 4грн за кг +2% от суммы заказа;</p>

        <p>Доставка Курьером <a href="http://novaposhta.ua/" target="_blank">«Новой почты»</a> при условии предоплаты - 40 грн. + 4грн за кг;</p>

        <p>Доставка Курьером <a href="http://novaposhta.ua/" target="_blank">«Новой почты»</a> наложенным платежом (оплата при получении) - 40 грн. + 4грн за кг +2% от суммы заказа;</p>

        <p>Доставка <a href="http://ukrposhta.ua/" target="_blank">«УкрПочтой»</a> при условии предоплаты - 10грн. + 3.5 за кг;</p>

        <p>Страховка груза Новой Почтой - 0.5%</p>

        <p>Страховка груза УкрПочтой - 1%.</p>

        <p class="upper">Оплатить товар Вы можете:</p>

        <p>перевод на карточный счет в <a href="https://privatbank.ua/ua/map/" target="_blank">кассе или терминале Приватбанка</a> (без комиссии);</p>

        <p>перевод через <a href="https://www.privat24.ua/#login" target="_blank">ПРИВАТ24</a> (без комиссии);</p>

        @*<p>любой картой Visa/Mastercard;</p>*@

        <p>наложенным платежом при получении товара;</p>

        <p class="upper"> Доставка осуществляется:</p>

        <p>По всей территории Украины;</p>

        @*<p>По всей территории Крыма. Более детальную информацию можете узнать на сайте для Крыма krum.sunstones.com.ua</p>

        <p>По всей территории Беларуси. Более детальную информацию можете узнать на сайте для Беларуси sunstones.by</p>

        <p>Также есть возможность доставки почтой по странам СНГ и Европы;</p>*@

        <p class="upper">Срок доставки по Украине:</p>

        <p>Отправка при условии что заказ был сделан до 14.00 в этот же день. Если позже 14.00 на следующий рабочий день;</p>

        <p>Новой Почтой 1-2 дня в зависимости от города(поселка). В областные города - сутки;</p>

        <p>Укрпочтой до 14 дней;</p>

        <p class="upper">Вы можете отследить местоположение Вашего заказа:</p>

        <p>Для Новой почты перейдите по ссылке на сайт <a href="http://novaposhta.ua/tracking" target="_blank">«Новой почты»</a> и введите номер ТТН.</p>

        <p>Для УкрПочты перейдите по ссылке на сайт <a href="http://ukrposhta.ua/ru/vidslidkuvati-forma-poshuku" target="_blank">УкрПочты</a> и введите номер Посылки.</p>
    </div>
</td>

