
@{
    ViewBag.Title = "Скидки";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}
<td>
    <div class="dostavka">

        <p>1. Моментальная скидка на единоразовую покупку:</p>
        <ul>
            <li>от 500грн - 15%</li>
            <li>от 1000грн - 20%</li>
            <li>от 1500грн - 25%</li>
            <li>от 2000грн - 30%</li>
        </ul>

        <p>2. Для Постоянных клиетов на постоянной основе действует Накопительная Скидка за каждых 200грн. +2% к скидке до 30%. Срок действия 180 дней</p>

        <p>3. Скидка по купонам от наших парнеров, воспользоваться можно введя Номер купона в поле "Ваш номер купона", что находится внизу "Корзины"</p>

        <p>Обращаем Ваше Внимание что одновременно работает только одна Скидка - самая высокая на каждую позицию!</p>
    </div>
</td>