@model  FashionStones.ViewModel.HelpViewModel

@{
    ViewBag.Title = "Fashion Stones - Помошь";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}

<td>
    <div class="dostavka">
                <h2>Уважаемый(-ая) @Model.FullName</h2>
        <p class="center">Мы обязательно свяжемся с Вами по адресу @Model.Email</p>
    </div>
</td>

