
@{
    ViewBag.Title = "Fashion Stones - О нас";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}
<td>
    <div><p class="text-success">@ViewBag.StatusMessage</p></div>
    <div class="dostavka">
        <p class="upper">Лучшие условия + качественная бижутерия и украшения из натуральных камней</p>

        <p>Мы рады приветствовать Вас в интернет-магазине бижутерии "Модные камни". Название магазина говорит о продукции, которую мы с удовольствием представляем Вашему вниманию. Здесь вы можете выбрать уникальную бижутерию высокого качества и элегантные изделия из натуральных камней, и подвесок.</p>

        <p class="red">1. Огромный выбор украшений</p>

        <p>Мы имеем многолетний опыт работы на рынке украшений. За это время мы отлично изучили предложения мировых производителей и Вам мы предлагаем только лучшую продукцию. Помимо этого, большое внимание уделяем изучению клиентского спроса, а также держим руку на пульсе моды. Поэтому украшения из нашего ассортимента всегда востребованы.</p>

        <p class="red">2. Мгновенная доставка товара</p>

        <p>Сделанный Вами заказ примется и обработается в самые короткие сроки, а сотрудничество с лучшей транспортной компанией позволяет нам предельно быстро осуществить доставку товара по Украине. Товар возможно отправить:</p>
        <p>1) « Нова Почта - Экспресс доставка, грузов, писем, корреспонденции »</p>
        <p>2) « Ин-Тайм - Национальная служба доставки »</p>
        <p>3) « Деливери - Транспортно-экспедиционная компания »</p>
        <p>4) « Автолюкс - Экспресс доставка грузов и почты »</p>
    </div>
</td>