
@{
    ViewBag.Title = "Гарантия";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}
<td>
    <div class="dostavka" style="text-align: center">
        <div><img src="/Content/images/sorry.png" /></div>
        @*<p class="upper">Гарантии</p>

        <p>Обращаем Ваше внимание мы работаем с натуральными камнями и это влечет за собой дефекты, внутрение трещины, разность узоров, небольшое отличие цвета. Камень не пластик он не может быть идеален. Вернее может, но цена вопроса в десятки раз выше. Так что мы не считаем вышеупомянутое браком.</p>

        <p>Сколы и разбитые камни это брак и такое мы всячески стараемся не отправлять, но при больших нагрузках бывает срабатывает человеческий фактор. Но это очень редко и 99% клиентов остаются довольны о чем свидетельствуют наши <a href="otziv.html">Отзывы</a>.</p>

        <p>Если Вы переживаете о качестве, то тогда нужно оформлять посылку наложенным платежом и у вас будет возможность на почте открыть, просмотреть, а потом уже оплатить.</p>

        <p class="upper">Правила Возврата и обмена</p>
        <ol>
            <li>Претензии принимаются в течении 14 дней с момента отгрузки товара.</li>
            <li>В случае обнаружения несоответствия качества или количества товара необходимо связаться с менеджером в течении 2-х дней.</li>
            <li>Все ВОЗВРАТЫ ОПЛАЧИВАЕТ ОТПРАВИТЕЛЬ. Стоимость доставки может быть возмещена по усмотрению менеджера.</li>
            <li>Товары принимаются к возврату только в оригинальной упаковке с нашей этикеткой со штрих-кодом.</li>
            <li>Возврат денежных средств возможен только на карту Приватбанка в течении 10 дней после получения возврата.</li>
            <li>Наш адрес Нова Почта, Одесса, Склад№4, получатель - Бескровный Юрий, телефон - (096) 707-85-99, указав любые другие данные получателя и телефона компания ответсвенности не несет!</li>
            <li>Переслать номер декларации в СМС на номер (096) 707-85-99, либо созвониться с менеждерами.</li>
            <li>После получения возврата сумма будет зачислена на ваш личный счет и Вы сможете сделать на эту сумму Новый заказ на любой товар или вывести деньги на карту Приватбанка.</li>
        </ol>*@
    </div>
</td>