
@{
    ViewBag.Title = "Админка";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div id="#ContentImg" style="width: 100%; height: 700px; background-size: contain; background: url(@Url.Content("~/Content/images/bg/tulpan.png"))">

</div>

