<div id="basket" class="absolute center">
    <a href="@Url.Action("Index", "ShoppingCart")" class="block">
        <div id="basket_img"></div>
        <div>
            Корзина (<span class="cart-status">@ViewData["CartCount"]</span>шт.)
        </div>
    </a>
</div>
