@{
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
    ViewBag.Title = "Подтверждение e-mail";
}

<td>
    <div class="dostavka">
        <p class="center">
            Адрес Вашей почты подтвержден. Пожалуйста, щелкните @Html.ActionLink("здесь", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) для входа в систему.
        </p>
    </div>
</td>