@{
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";  
    ViewBag.Title = "Востановление пароля";
}


<div>
    <p>
        Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль .
    </p>
</div>
	
