@{
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";  
    ViewBag.Title = "Восстановление пароля";
}

<td>
    <div class="dostavka">
        <p class="center">
            Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.
        </p>
    </div>
</td>	
