@{
    ViewBag.Title = "Fashion Stones - Условия регистрации";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}
<td>
    <div class="dostavka">
        <h2>Регистрация происходит только для оптовых покупателей</h2>
        <p class="red">Работая с нами, Вы получаете следующие преимущества:</p>

        <ol>
            <li>Большой ассортимент.</li>
            <li>Заказы отправляются в тот же день, при поступлении заказа!</li>
            <li>Отправка осуществляется по всей Украине.</li>
        </ol>

        <p>Для регистрации как оптовик, нажмите <a href="@Url.Action("Register", "Account")">ЗДЕСЬ</a>!</p>
           
</div>
</td>
