@model  FashionStones.Models.RegisterViewModel
@{
    ViewBag.Title = "Fashion Stones - Регистрация";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}
<td>
<div class="dostavka">
        <table id="LogInMy" class="center_table">
            <caption>
                Добро пожаловать, @Model.FirstName.
            </caption>
            <tr>
                <td>Перейдите по ссылке из письма и завершите регистрацию.</td>
            </tr>
            <tr>
                <td>Мы отправили его на адрес: @Model.Email</td>
            </tr>
            <tr>
                <td>
                    Наш менеджер свяжется с Вами в ближайшее время для подтверждения аккаунта.
                </td>
            </tr>

        </table>
    </div>
</td>