@{
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";  
    ViewBag.Title = "Пароль изменен";
}


<div>
    <p>
       Ваш пароль был изменен. Пожалуста @Html.ActionLink("кликните здесь чтоб войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
