@{
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
    ViewBag.Title = "Fashion Stones - Пароль изменен";
}

<td>
    <div class="dostavka">
        <p class="center">
            Ваш пароль был изменен. Пожалуйста, кликните  @Html.ActionLink("здесь", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) чтобы войти.
        </p>
    </div>
</td>