@{
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
    ViewBag.Title = "Пароль изменен";
}



<td>
    <div class="dostavka center">
        <p>Ваш пароль успешно изменен</p>
    </div>
</td>