@{
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";  
    ViewBag.Title = "Пароль изменен";
}



<div id="Gif">
    <table id="LogInMy">
        <tr>
            <td>
               <div>Ваш пароль успешно изменен</div>
            </td>
        </tr>
    </table>
</div>