@{
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
    ViewBag.Title = "Fashion Stones - Пароль изменен";
}



<td>
    <div class="dostavka">
        <p class="center">Ваш пароль успешно изменен</p>
    </div>
</td>