@{
    ViewBag.Title = "Fashion Stones - Оплата";
    Layout = "~/Areas/Default/Views/Shared/DefaultLayout.cshtml";
}
<td>
    <div class="dostavka">
        <p class="center"><h2>Спасибо за оплату! Менеджер свяжется с Вами в ближайшее время.</h2></p>
    </div>
</td>


