@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Fashion Stones";
}
<td>
    <div class="dostavka">
        <p class="center">
            <h2 class="text-danger">Аккаунт заблокирован</h2>
            <p class="text-danger">Пожалуйста, свяжитесь с нами для его восстановления.</p>
        </p>
    </div>
</td>
